/config/logger.txt
/css/bootstrap.min.css
/css/jquery.dataTables.min.css
/css/responsive.dataTables.min.css
/js/bootstrap.min.js
/js/dataTables.responsive.min.js
/js/demo/
/js/dist/
/js/Gruntfile.js
/js/jquery.dataTables.min.js
/js/jquery.min.js
/js/lib/
/js/jquery-validation-1.17.0.zip
/js/package.json
/js/README.md
/js/src/
/js/test/
